@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: #8566da;
  --white-color: #fff;
  --primary-color-dark: #5739a8;

  /* Purple */
  --color-purple-50: #7c3aed;
  --color-purple-100: #a855f7;
  --color-purple-200: #bf46ef;

  /* Gradient */
  --color-gradient: linear-gradient(
    90deg,
    var(--color-purple-50),
    var(--color-purple-100),
    var(--color-purple-200)
  );
}

* {
  box-sizing: 0;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-gradient);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  max-width: 640px;
  background: var(--white-color);
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover {
  background: var(--primary-color-dark);
}

.senha-gerada {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.grid {
  display: grid;
  margin-left: 40px;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  font-weight: bold;
}

.resultado {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
